{% for item in items %}
    <div class="tableItems" id="items">
        <div class="tableData">{{ forloop.counter }}</div>
        <div class="tableData">{{ item.name }}</div>
        <div class="tableData">{{ item.price }}</div>
        <div class="tableData">
            <button onclick="redirect('{% url 'pizzeria_admin:item_update_form_model' item.id %}')"
                    class="button1">Update</button>
            <a class="pz-btn" href="{% url 'pizzeria_admin:delete_item_from_model' item.id %}">
                Delete
            </a>
        </div>
    </div>
{% endfor %}
<script>
function redirect(url){
    window.location.href = url;
}
</script>
