[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-tailwind = "*"
django-widget-tweaks = "==*"
django-pytest = "*"
pytest-django = "*"
coverage = "*"
djhtml = "*"
python-escpos = "==2.2.0"
djlint = "*"
django-mathfilters = "==*"
isort = "*"
tzdata = "*"
win32printing = "==0.1.3"
cx-freeze = "*"
idna = "*"
pillow = "==9.5.0"
ipython = "*"
django-extensions = "==*"
flake8 = "*"
pylint = "*"
pytest = "==7.3.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
