[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tailwind = "*"
django-widget-tweaks = "*"
django-pytest = "*"
pytest-django = "*"
coverage = "*"
djhtml = "*"
python-escpos = "*"
djlint = "*"
django-mathfilters = "*"
isort = "*"
tzdata = "*"
win32printing = "*"
cx-freeze = "*"
idna = "*"
pillow = "*"
ipython = "*"
django-extensions = "*"
flake8 = "*"
pylint = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
