<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
</head>
<body>
    <h1>Create Order</h1>
    OrderId: {{ new_order.id }}<br>
    Date: {{ new_order.ordered_on }}<br><br>
    <form action="{% url "billing:search_item"  %}" method="get" id="search-form">
        <input type="text" name="item-name" id="item-search" placeholder="Search Items">
        <input type="hidden" name="search-url" value="{% url 'billing:search_item' %}">
        <button type="submit">
            Add Item
        </button>
    </form>
</body>
</html>

{% block javascript %}
<script>
    $(document).ready(function(){
        console.log('Got ready');
        //  catch the input fields query
        $("#search-form").on('keyup', (function(event) {
            //  create ajax call
            event.preventDefault();
            var searchUrl = $("input[name='search-url'").val();
            var query = $("input[name='q'").val();
            $.ajax({
                url: searchUrl;
                data: {
                    'q': query,
                }
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    var resultsList.empty();
                    $.each(data, function(index, item){
                        resultsList.append('<li>' + item '</li>');
                    });
                }
            });
        });
        );
    });
</script>
{% endblock javascript %}