<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recent Order</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <nav class="navBar">
            </nav>
            <div class="container" id="top">
                <div class="heading">Order History</div>
                <div class="search">
                    <div class="bar">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <div class="options">
                    <div class="title">Filter By:</div>
                    <div class="select">
                        <input type="radio" name="option">
                        <label>ID</label>
                        <input type="radio" name="option">
                        <label>Date</label>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="tableContainer">
                <div class="tableHead">
                    <lable class="tableTitle">Order Number</lable>
                    <lable class="tableTitle">Time Stamp</lable>
                    <lable class="tableTitle">Payment Mode</lable>
                    <lable class="tableTitle">Total Price</lable>
                </div>
                <div class="data">
                    <div class="dataSet">
                        <lable class="dataList">1234</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹30</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1235</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Cash</lable>
                        <lable class="dataList">₹400</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1236</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Cash</lable>
                        <lable class="dataList">₹100</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1237</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Cash</lable>
                        <lable class="dataList">₹300</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                    <div class="dataSet">
                        <lable class="dataList">1238</lable>
                        <lable class="dataList">12/12/2023</lable>
                        <lable class="dataList">Online</lable>
                        <lable class="dataList">₹200</lable>
                    </div>
                </div>
                <div class="btn">
                    <button>View more</button>
                    <a href="#top" target="parent">
                        <button>Back to top</button>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>
