{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
  {% if message %}<div class="alert alert-info" id="hideDiv">{{ message }}</div>{% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 create-order">
        {% include 'partials/order-create.html' %}
        <div class="my-4">
          <h3>Items</h3>
        </div>
        {% include 'partials/show-added-items.html' %}
        <div class="d-flex justify-content-center order-create-btn">
          {% if order.is_update %}
            <a href="{% url 'billing:update_order' order.id %}"
               class="btn"
               style="background-color: #1d1d1d;
                      color: #fefefe">Update</a>
          {% else %}
            <button type="submit"
                    class="btn"
                    id="create-button"
                    style="background-color: #1d1d1d;
                           color: #fefefe"
                    onclick="createOrder()">
              Create
            </button>
          {% endif %}
        </div>
      </div>
      <div class="col-md-5 recent-order">{% include 'partials/recent-orders.html' %}</div>
    </div>
  </div>
  <script src="{% static 'js/functions.js' %}"></script>
  <script>
    function createOrder() {
      var orderId = {{order.id|safe}};
      var obj = {
        type: 'POST',
        url: {% url 'billing:create_order' %},
        data: {
          'order_id': orderId,
        },
        success: function(result){
          location.reload();
        }
      };
      $.ajax(obj);

    }
  </script>
{% endblock content %}
