{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 create-order">
        {% include 'partials/order-create.html' %}
        <div class="my-4">
          <h3>Items</h3>
        </div>
        {% include 'partials/show-added-items.html' %}
        <div class="d-flex justify-content-center order-create-btn">
          <a class="btn"
             style="background-color: #1d1d1d;
                    color: #fefefe"
             href="{% url 'billing:create_order' new_order_id %}">Create</a>
        </div>
      </div>
      <div class="col-md-5 recent-order">{% include 'partials/recent-orders.html' %}</div>
    </div>
  </div>
  <script src="{% static 'js/functions.js' %}"></script>
{% endblock content %}
