<div class="list-menu position-absolute end-0" id="search-bar004-target">
    <ul class="two-columns">
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>6 chicken Mansurian ₹400</li>
        <li>7 chicken leg ₹250</li>
        <li>1 Chicken Legs ₹300</li>
        <li>4 chicken Hakka Noodels ₹400</li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
        <li>
            1 Chicken Legs ₹300
        </li>
        <li>
            4 chicken Hakka Noodels ₹400
        </li>
        <li>
            6 chicken Mansurian ₹400
        </li>
        <li>
            7 chicken leg ₹250
        </li>
    </ul>
</div>
