<tr>
    <th scope="row">1</th>
    <td>Chicken Legs</td>
    <td>
        <input class="items-quantity" type="number" min="1" value="1">
    </td>
    <td>₹ 440</td>
    <td>Remove</td>
</tr>
<tr>
    <th scope="row">2</th>
    <td>Chicken Fried Rice</td>
    <td>
        <input class="items-quantity" type="number" min="1" value="1">
    </td>
    <td>₹ 333</td>
    <td>Remove</td>
</tr>
<tr>
    <th scope="row">2</th>
    <td>
        Chicken Fried Rice Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor,
        cumque.
    </td>
    <td>
        <input class="items-quantity" type="number" min="1" value="1">
    </td>
    <td>₹ 333</td>
    <td>Remove</td>
</tr>
<tr>
    <th scope="row">3</th>
    <td>Cofee</td>
    <td>
        <input class="items-quantity"
               id="instantly-added"
               type="number"
               min="1"
               value="1">
    </td>
    <td>₹ 20</td>
    <td>Remove</td>
</tr>
