<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="add_update.css">
</head>

<body>
    <nav>
        <div class="navBar"></div>
    </nav>
    <header>
        <h1 class="heading">Add & Update</h1>
    </header>
    <section>
        <div class="container">
            <div class="box">
                <div class="title">
                    <h2 class="boxTitle">Add Items</h2>
                </div>
                <div class="fields">
                    <div class="input">
                        <label>Item Name</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label>Price</label>
                        <input type="number">
                    </div>
                </div>
                <div class="btn">
                    <button>+ ADD ITEM</button>
                </div>
            </div>
            <div class="box">
                <div class="titleCnt">
                    <div class="head">
                        <h2 class="boxTitle">Update Items</h2>
                    </div>
                    <div class="search">
                       Search : <input type="text">
                    </div>
                </div>
                <div class="table">
                    <span>Id</span>
                    <span>Item Name</span>
                    <span>Amount</span>
                    <span>Function</span>
                </div>
                <div class="tableItems" id="items" >
                    <span>1</span>
                    <span>Chicken Momo</span>
                    <span>100</span>
                    <span><button>Update</button></span>
                </div>
                <div class="tableItems" id="items" >
                    <span>2</span>
                    <span> Milk Coffee</span>
                    <span>60</span>
                    <span><button>Update</button></span>
                </div>
                <div class="tableItems" id="items" >
                    <span>3</span>
                    <span>Chicken legs</span>
                    <span>100</span>
                    <span><button>Update</button></span>
                </div>
                <div class="tableItems" id="items" >
                    <span>4</span>
                    <span>Chicken Typo</span>
                    <span>100</span>
                    <span><button>Update</button></span>
                </div>
                <div class="tableItems" id="items" >
                    <span>5</span>
                    <span>Fried Rice</span>
                    <span>120</span>
                    <span><button>Update</button></span>
                </div>
                <div class="tableItems" id="items" >
                    <span>6</span>
                    <span>Chicken curry</span>
                    <span>180</span>
                    <span><button>Update</button></span>
                </div>


            </div>
        </div>
    </section>
</body>

</html>