.container-section-modal {
    /* background-color: aquamarine; */
    width: 50rem;
}

.modal-heading {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.payment-method-section {
    display: flex;
}

.payment-method-container {
    margin-left: 30px;
}

.functional-buttons {
    margin-left: 0.2rem;
}

.functional-buttons-section {
    margin-left: 15rem;
}

/* .save-print:nth-child(even){
    margin-left: 0rem;
} */