<header>
  {% load static %}
  <div class="d-flex bd-highlight">
    <div class="p-2 w-100 bd-highlight">
      <div class="logo">
        <img style="border-radius: 50%;
                    width: 50px;
                    height:50px"
             src="{% static 'img/logo_index.jpeg' %}"
             alt=""
             srcset="">
      </div>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
      <a class="btn" href="{% url 'pizzeria_admin:login' %}">
        <img style="width:50px;
                    height=50px"
             src="{% static 'img/setting.svg' %}"
             alt=""
             srcset="">
      </a>
    </div>
  </div>
</header>
