<div class="col-md-8 create-order">
  <div class="title">Create Order</div>
  <div class="d-flex justify-content-between">
    <div class="p-2 w-50 bd-highlight">Order no: {{ new_order_id }}</div>
    <div class="p-2 flex-shrink-1 bd-highlight">Date: {{ new_order_date }}</div>
  </div>
  <div class="container-fluid position-relative">
    <form class="d-flex">
      <input
        class="form-control me-2"
        id="search-bar004"
        type="search"
        placeholder="Search Items"
        aria-label="Search"
        hx-post="{% url 'billing:search_items' %}"
        hx-target="#search-results"
        hx-trigger="focus, keyup changed"
        name="item-name"
      />
    </form>
    <!-- Drop down List Section -->
    <div class="list-menu position-absolute end-0" id="search-bar004-target">
      {% include 'partials/search-results.html' %}
    </div>
  </div>
  <!--Add items section-->
  <div>Items:</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SN.</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col">Function</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chicken Legs</td>
        <td>
          <input class="items-quantity" type="number" min="1" value="1" />
        </td>
        <td>₹ 440</td>
        <td>Remove</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Chicken Fried Rice</td>
        <td>
          <input class="items-quantity" type="number" min="1" value="1" />
        </td>
        <td>₹ 333</td>
        <td>Remove</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          Chicken Fried Rice Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Dolor, cumque.
        </td>
        <td>
          <input class="items-quantity" type="number" min="1" value="1" />
        </td>
        <td>₹ 333</td>
        <td>Remove</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cofee</td>
        <td>
          <input
            class="items-quantity"
            id="instantly-added"
            type="number"
            min="1"
            value="1"
          />
        </td>
        <td>₹ 20</td>
        <td>Remove</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th scope="col">Total</th>
        <th scope="col">₹ 5000/-</th>
      </tr>
    </tfoot>
  </table>
  <div class="d-flex justify-content-center order-create-btn">
    <button type="button" class="btn btn-warning">Create</button>
  </div>
</div>
