<div><h3 class="my-2">Recent Orders</h3></div>
<div>
  <ul class="list-group my-2">
    {% if orders %} {% for order in orders %}
    <li class="list-group-item my-1">
      <div class="m-2 btn-group">
        Order no.{{ order.id }} Table: {{ order.table_number }}
        <div class="dropdown mx-2">
          <a
            class="btn btn-warning dropdown-toggle btn-sm"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{order.order_status}}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Waiting</a>
            <a class="dropdown-item" href="#">Pending</a>
            <a class="dropdown-item" href="#">Paid</a>
          </div>
        </div>
        <a class="btn btn-warning p-1 mx-2" href="#edit">View and Edit</a>
      </div>
    </li>
    {% endfor %} {% endif %}
  </ul>
</div>
